.home-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
  width: 100%;
}
.registration-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
}

.upcoming-events-container {
  padding: 5px;
}

.feat-band-container {
  padding: 5px;
}
